svg(width='0' height='0' aria-hidden='true')
	filter#smoke(color-interpolation-filters='sRGB')
		feTurbulence(baseFrequency='.00713' result='t')
		feComponentTransfer
			feFuncA(type='discrete' tableValues='1')
		feGaussianBlur(stdDeviation='5' result='i')
		feBlend(in='SourceGraphic' in2='t' mode='exclusion')
		feDisplacementMap(in='i' scale='180' 
		                  xChannelSelector='R' 
											yChannelSelector='G')

div