body {
    font-size: large;
    background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    margin: 20px auto;
    padding: 40px;
    width: 50vw;
    background-color: rgb(71, 71, 71);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#inputsContainer {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

label {
    color: gray;
    display: block;
    margin-top: 10px;
}

input {
    margin-bottom: 10px;
    width: 80%;
    padding: 5px;
    font-size: 1rem;
}

h1 {
    color: rgb(0, 0, 0);
    text-align: center;
}

p {
    color: white;
    margin-top: 20px;
    text-align: center;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 1rem;
    background-color: gray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}